.width
{
    width: 960px;
    margin: auto;
    background: url("https://data.whicdn.com/images/325673238/original.gif"); background-size: 100% 100%;
}
#wrapper
{
    width: 50%;
    margin: auto;
    float: center;
    text-align: center;
}